---
// src/pages/index.astro
import Layout from "../layouts/Layout.astro";
import EventInfo from "../components/EventInfo.astro";
import TeacherCard from "../components/TeacherCard.astro";
import GuestCard from "../components/GuestCard.astro";
import TeacherModal from "../components/TeacherModal.astro";

const teachers = [
    {
        id: "teacher-1",
        name: "Carmen Small",
        gender: "F",
        image: "/images/teacher1.png", // Reemplaza con tu imagen
        songs: [
            {
                title: "Variaciones sobre La Tierra de la Música",
                move: "Evocacion, Dueto, Vals de Susana",
                author: "José Grardo Castillo Zaldiívar",
                students: [
                    {
                        name: "Susana Judith Castillo Rodriguez",
                        instrument: "Clarinetes en Mib Y Sib",
                    },
                    {
                        name: "José Esteban Castillo Rodriguez",
                        instrument: "Piano (Prof. Abdiel Lombana)",
                    },
                    {
                        name: "Susana Judith Castillo Rodriguez",
                        instrument: "Clarinete Sib",
                    },
                ],
                duration: "3:00",
                extraInfo: "1972",
            },
            {
                title: "Trio N°2 Op. 8",
                move: "Allegro agitato",
                author: "Jacques Bouffil",
                students: [
                    {
                        name: "Ayling Arrocha",
                        instrument: "",
                    },
                    {
                        name: "Alexis Higuero",
                        instrument: "",
                    },
                    {
                        name: "Duncan Mena",
                        instrument: "",
                    },
                ],
                duration: "3:40",
                extraInfo: "1783-1868",
            },
            {
                title: "Suite Española N°1 Op. 47",
                move: "Granada",
                author: "Issac Albéniz",
                ensemble: "Conjunto De Clarinetes Alfonso Draches 'Polly'",
                students: [
                    {
                        name: "Ayling Arrocha",
                        instrument: "",
                    },
                    {
                        name: "Alexis Higuero",
                        instrument: "",
                    },
                    {
                        name: "Duncan Mena",
                        instrument: "",
                    },
                    {
                        name: "Johan Castillo",
                        instrument: "",
                    },
                    {
                        name: "Fabricio Espinosa",
                        instrument: "",
                    },
                    {
                        name: "Daniel Briceño",
                        instrument: "",
                    },
                ],
                duration: "4:30",
                extraInfo: "1860-1909",
            },
        ],
    },
    {
        id: "teacher-2",
        name: "Isaac Reyes",
        gender: "M",
        image: "/images/teacher2.png", // Reemplaza con tu imagen
        songs: [
            {
                title: "Estrellita",
                author: "Popular",
                students: [
                    {
                        name: "Dylan Chipsen",
                        instrument: "",
                    },
                ],
                duration: "1:00",
                extraInfo: "",
            },
            {
                title: "Theme From My New World Symphony (2nd Movement)",
                author: "Antonín Dvořák's",
                students: [
                    {
                        name: "Carolina Lescure",
                        instrument: "",
                    },
                ],
                duration: "3:38",
                extraInfo: "1873-1904",
            },
            {
                title: "Prelude",
                author: "Krzysztof Penderecki",
                students: [
                    {
                        name: "Hadid Cedeño",
                        instrument: "",
                    },
                ],
                duration: "3:14",
                extraInfo: "1933-2020",
            },
            {
                title: "La Bikina",
                author: "Ruben Fuentes",
                students: [
                    {
                        name: "Paola Cedeño",
                        instrument: "",
                    },
                    {
                        name: "Anaís Díaz",
                        instrument: "",
                    },
                    {
                        name: "Joshem Morales",
                        instrument: "",
                    },
                    {
                        name: "Marcel Rodríguez",
                        instrument: "",
                    },
                    {
                        name: "Didier Serrano",
                        instrument: "",
                    },
                    {
                        name: "Ivana Troetsch",
                        instrument: "",
                    },
                    {
                        name: "Katleen Soto",
                        instrument: "",
                    },
                    {
                        name: "Allyson Villareal",
                        instrument: "",
                    },
                    {
                        name: "Wilmer Arauz",
                        instrument: "",
                    },
                    {
                        name: "Diomedes Díaz",
                        instrument: "",
                    },
                    {
                        name: "Hadid Cedeño",
                        instrument: "",
                    },
                ],
                duration: "3:00",
                extraInfo: "1926-2022",
            },
        ],
    },
];

const guest = {
    name: "Hipólito Villareal",
    title: "Profesor",
    instrument: "Asistente de Clarinete Orquesta Sinfónica Nacional",
    image: "/images/guest.png", // Reemplaza con tu imagen
    songs: [
        {
            title: "Franz Taush Op 21 Duo 3",
            duration: "Allegro",
            partner: "Prof. Daniel Agudo",
        },
    ],
};
---

<Layout title="Festival de Música 2024">
    <main class="min-h-screen bg-gray-900 p-4 md:p-8">
        <div class="max-w-7xl mx-auto">
            <!-- Grid de 4 tarjetas -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-8">
                <!-- Tarjeta 1: Información del Evento -->
                <EventInfo />

                <!-- Tarjeta 2: Primer Profesor -->
                <TeacherCard teacher={teachers[0]} />

                <!-- Tarjeta 3: Segundo Profesor -->
                <TeacherCard teacher={teachers[1]} />

                <!-- Tarjeta 4: Invitado -->
                <GuestCard guest={guest} />
            </div>
        </div>

        <!-- Modal Component -->
        <TeacherModal teachers={teachers} />
    </main>
</Layout>
